* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: fontThree;
    src: url(../Font/fontThree);
}

@font-face {
    font-family: fontFour;
    src: url(../Font/fontFour);
}

header {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: fontFour;
}




@font-face {
    font-family: fontOne;
    src: url(../Font/fontOne);
}

.logo {
    display: flex;
    align-items: center;
    gap: 13px;
}

.logo .text {
    width: 98px;
    height: 48px;
    background-color: black;
    font-family: fontOne;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 10px;
}

.logo .text a {
    color: white;
    transition: .7s;
}

.logo .text a:hover {
    color: #EF6136;
}

.search {
    width: 160px;
    height: 50px;
    border: none;
    font-size: 17px;
}

.logoInput input:hover {
    border-bottom: solid 2px black;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 16px;
}

.menu li a {
    color: black;
    transition: .7s;
}


.menu li a:hover {
    color: #EF6136;
}

.menu-toggle {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 0.1875rem;
    width: 1.5625rem;
    background-color: black;
    margin-bottom: 0.3125rem;
    display: block;
}

.basketMobile {
    display: none;
}

.box {
    width: 1300px;
    height: auto;
    /* border: solid 3px black; */
    margin: 0px auto;
    padding: 0px 20px 20px 20px;
}

.aboutUs {
    width: 100%;
    height: 740px;
    display: flex;
    padding: 10px;
    font-family: fontFour;
}

.aboutUs div {
    width: 50%;
    height: auto;
    /*border: solid 3px black;*/
}

.aboutUs div:nth-child(1){
    font-size: 18px;
    padding: 0px 33px 0px 33px;
}

.aboutUsImg {
    background-image: url(../Images/aboutUs.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutUsText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.aboutUsText div {
    width: 500px;
    height: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.newArrivals {
    width: 100%;
    height: 300px;
    font-family: fontOne;
    letter-spacing: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newArrivals div {
    width: 460px;
    height: auto;
    border-bottom: 10px solid #EF6136;
    display: flex;
    justify-content: center;
}

.newArrivals div p {
    margin-top: 0px;
    font-size: 80px;
    text-transform: uppercase;
}


footer {
    width: 100%;
    height: 350px;
    border: solid 3px black;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: fontFour;
}

.menuFooter {
    width: 190px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuFooter ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menuFooter ul li a {
    font-size: 20px;
    color: #C2C2C2;
}

.subscribeDiv {
    width: 340px;
    height: 270px;
    padding: 40px;
    display: flex;
    flex-direction: column;

}

.subscribeDiv div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 12px;
}

.subscribeDiv p {
    font-size: 22px;
    color: white;
    text-align: center;
    margin-top: 17px;
}

.subscribeDiv input {
    width: 250px;
    height: 40px;
    border: solid 2px white;
    background-color: black;
}

.subscribeDiv input:hover {
    border: solid 5px white;
}

.subscribeDiv button {
    width: 250px;
    height: 40px;
    border: none;
    background-color: #EF6136;
    font-size: 17px;
    color: white;
}


.botLink {
    width: 0;
}


.botButton {
    min-width: 200px;
    max-width: 340px;
    height: 56px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    transition: .7s;
    font-family: fontThree;
}

.botButton:hover {
    color: black;
    background-color: #EF6136;
}



@media screen and (max-width: 768px) {
    *{
        padding: 0;
        margin: 0;
    }
    @font-face {
        font-family: fontThree;
        src: url(../Font/fontThree);
    }

    @font-face {
        font-family: fontFour;
        src: url(../Font/fontFour);
    }

    header {
        display: flex;
    }


    header .logoInput {
        display: none;
    }

    header {
        background-color: white;
    }

    .logo .text {
        width: 130px;
        height: 50px;
        background-color: black;
        font-family: fontOne;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 33px;
        text-transform: uppercase;
    }

    .menu1 {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(234, 234, 234, 0.96);
    }

    .menu1.active {
        width: 100%;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        padding: 30px 0px 30px 0px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .basketMobile {
        display: block;
        font-size: 26px;
        color: black;
        transition: .6s;
    }

    .basketMobile:hover {
        color: #EF6136;
    }

    .menu li a {
        font-size: 27px;
        color: #EF6136;
        font-family: fontFour;
    }


    .menu-toggle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .menu-toggle span:hover {
        background: #EF6136;
    }

    .basket {
        font-size: 22px;
        display: none;
    }
.box{
    width: 100%;
}
    .aboutUs div {
        width: 100%;
        height: auto;
    }

.aboutUs{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    footer {
        height: auto;
        display: flex;
        flex-direction: column;
        /*gap: 20px;*/
        text-align: center;
    }

    footer .menuFooter li a {
        font-size: 22px;
    }
}