* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: fontThree;
    src: url(../Font/fontThree);
}

@font-face {
    font-family: fontFour;
    src: url(../Font/fontFour);
}

header {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: fontFour;
}


.hamburger {
    display: none;
}


@font-face {
    font-family: fontOne;
    src: url(../Font/fontOne);
}

.logo {
    display: flex;
    align-items: center;
    gap: 13px;
}

.logo .text {
    width: 98px;
    height: 48px;
    background-color: black;
    font-family: fontOne;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 10px;
}

.logo .text a {
    color: white;
    transition: .7s;
}

.logo .text a:hover {
    color: #EF6136;
}

.search {
    width: 160px;
    height: 50px;
    border: none;
    font-size: 17px;
}

.logoInput input:hover {
    border-bottom: solid 2px black;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 16px;
}

.menu li a {
    color: black;
    transition: .7s;
}


.menu li a:hover {
    color: #EF6136;
}

.menu-toggle {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 0.1875rem;
    width: 1.5625rem;
    background-color: black;
    margin-bottom: 0.3125rem;
    display: block;
}

.basketMobile {
    display: none;
}

.newArrivals {
    width: 100%;
    height: 130px;
    /*border: solid 3px black;*/
    font-family: fontOne;
    letter-spacing: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
}

.newArrivals div {
    width: 500px;
    height: auto;
    /*border: solid 3px black;*/
    border-bottom: 10px solid #EF6136;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newArrivals div p {
    font-size: 80px;
    text-transform: uppercase;
}


.container {
    width: 100%;
    height: auto;
    /*border: solid 3px black;*/
    padding: 5px;
}

.divOne {
    width: 100%;
    height: auto;
    /*border: solid 3px black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 2px;
    margin-top: 90px;
}

.flagshipShop {
    width: 280px;
    height: 170px;
    /*border: solid 3px black;*/
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flagshipShop table {
    width: 100%;
    height: auto;
    text-align: center;
}

.flagshipShop table tr td {
    font-family: fontFour;
    margin-top: 20px;
}

.flagshipShop p {
    font-size: 24px;
    font-family: fontThree;
    text-align: center;
    margin-bottom: 25px;
}

.openingHours {
    width: 280px;
    height: 170px;
    /*border: solid 3px black;*/
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.openingHours table {
    width: 100%;
    height: auto;
    /*border: solid 3px black;*/
    text-align: center;
}

.openingHours table tr {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.openingHours table tr td {
    text-align: center;
    font-family: fontFour;
}

.openingHours p {
    font-size: 24px;
    font-family: fontThree;
    text-align: center;
    margin-bottom: 25px;
}

.customerService {
    width: 280px;
    height: 170px;
    /*border: solid 3px black;*/
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customerService p {
    font-size: 24px;
    font-family: fontThree;
    text-align: center;
    margin-bottom: 25px;
}

.customerService table tr {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: fontFour;
}

.squareDiv {
    width: 100%;
    height: 150px;
    /*border: solid 3px black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.squareDiv div {
    width: 12px;
    height: 12px;
    border: solid 3px #EF6136;
    background: #EF6136;
}

.divTwo {
    width: 100%;
    height: auto;
    /*border: solid 3px black;*/
    padding: 0px 3px 0px 3px;
    margin-top: 30px;

}

.textStockists {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: fontThree;
    font-size: 24px;
    color: #EF6136;
}


.streetDiv {
    width: 100%;
    height: auto;
    /*border: solid 3px black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 2px;
}

.divTwoTex {
    width: 280px;
    height: 170px;
    /*border: solid 3px black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: fontFour;
    font-size: 20px;
    gap: 20px;
}

.divThree {
    width: 100%;
    height: 200px;
    /*border: solid 3px black;*/
    margin-top: 30px;
}

.divThree_text {
    width: 590px;
    height: auto;
    /*border: solid 3px black;*/
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    letter-spacing: 0.05em;
    font-family: fontThree;
}

.mailer {
    width: 100%;
    height: auto;
    /*border: solid 3px black;*/
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.mailer div {
    width: 800px;
    height: auto;
    /*border: solid 3px black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.mailer div input {
    width: 220px;
    height: 38px;
    border: solid 2px #EF6136;
    padding-left: 9px;
    color: #EF6136;
    font-size: 16px;
}

.mailer div input:focus {
    outline: none;
}

.mailer div button {
    width: 111px;
    height: 38px;
    border: solid 2px #EF6136;
    background: #EF6136;
    font-size: 17px;
    color: white;
    font-family: fontFour;
    cursor: pointer;
    transition: .7s;
}

.mailer div button:hover {
    background: white;
    color: #EF6136;
}

footer {
    width: 100%;
    height: 350px;
    border: solid 3px black;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: fontFour;
}

.menuFooter {
    width: 190px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuFooter ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menuFooter ul li a {
    font-size: 20px;
    color: #C2C2C2;
}

.subscribeDiv {
    width: 340px;
    height: 270px;
    padding: 40px;
    display: flex;
    flex-direction: column;

}

.subscribeDiv div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 12px;
}

.subscribeDiv p {
    font-size: 22px;
    color: white;
    text-align: center;
    margin-top: 17px;
}

.subscribeDiv input {
    width: 250px;
    height: 40px;
    border: solid 2px white;
    background-color: black;
}

.subscribeDiv input:hover {
    border: solid 5px white;
}

.subscribeDiv button {
    width: 250px;
    height: 40px;
    border: none;
    background-color: #EF6136;
    font-size: 17px;
    color: white;
}


@media screen and (max-width: 768px) {
    @font-face {
        font-family: fontThree;
        src: url(../Font/fontThree);
    }

    @font-face {
        font-family: fontFour;
        src: url(../Font/fontFour);
    }

    header {
        display: flex;
    }


    header .logoInput {
        display: none;
    }

    header {
        background-color: white;
    }
    .logo .text {
        width: 130px;
        height: 50px;
        background-color: black;
        font-family: fontOne;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 33px;
        text-transform: uppercase;
    }

    .menu1 {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(234, 234, 234, 0.96);
        margin: 0 auto;
    }

    .menu1.active {
        width: 100%;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        padding: 30px 0px 30px 0px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .basketMobile {
        display: block;
        font-size:26px;
        color: black;
        transition: .6s;
    }
    .basketMobile:hover{
        color: #EF6136;
    }
    .menu li a {
        font-size: 27px;
        color: #EF6136;
        font-family: fontFour;
    }


    .menu-toggle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .menu-toggle span:hover{
     background: #EF6136;
    }
    .basket {
        font-size: 22px;
        display: none;
    }

    .newArrivals.active {
        height: auto;
        padding: 5px;
    }

    .newArrivals div p {
        font-size: 55px;
    }

    .divOne {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0px;
    }

    .flagshipShop {
        margin: 0;
    }

    .streetDiv {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .divThree {
        height: auto;
    }

    .divThree_text {
        width: 378px;
        font-size: 18px;
    }

    .mailer div {
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 20px;
    }

    .mailer div input {
        width: 100%;
    }

    footer {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }


}


