* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: fontThree;
    src: url(../Font/fontThree);
}

@font-face {
    font-family: fontFour;
    src: url(../Font/fontFour);
}

@font-face {
    font-family: fontOne;
    src: url(../Font/fontOne);
}

header {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: fontFour;
}


.logo {
    display: flex;
    align-items: center;
    gap: 13px;
}

.logo .text {
    width: 98px;
    height: 48px;
    background-color: black;
    font-family: fontOne;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 10px;
}

.logo .text a {
    color: white;
    transition: .7s;
}

.logo .text a:hover {
    color: #EF6136;
}

.search {
    width: 160px;
    height: 50px;
    border: none;
    font-size: 17px;
}

.logoInput input:hover {
    border-bottom: solid 2px black;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 16px;
}

.menu li a {
    color: black;
    transition: .7s;
    cursor: pointer;
}


.menu li a:hover {
    color: #EF6136;
}
.basketMobile {
    display: none;
}

.container {
    width: 100%;
    min-height: 700px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 20px;*/
    gap: 10px;
    font-family: fontFour;
    flex-wrap: wrap;
}

.divOne {
    width: 650px;
    min-height: 600px;
    /*border: solid 3px black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.textDiv {
    width: 530px;
    min-height: 500px;
    /*border: solid 3px black;*/
    padding: 50px 40px 50px 40px;
    border-radius: 20px;
    background: #f2f2f2;
}

.textTitle {
    width: 100%;
    height: auto;
    font-size: 40px;
    text-align: center;
}

.textInfo {
    width: 100%;
    height: auto;
    font-size: 18px;
    margin-top: 45px;
    text-align: center;
    word-wrap:normal;
}
.textInfo h3  {
    word-wrap:normal;
}

.payInfo {
    width: 100%;
    height: auto;
    margin-top: 40px;
    font-size: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.textSubmit {
    font-size: 22px;
    font-family: fontThree;
}

.divOne span {
    color: #EF6136;
    font-family: fontThree;
}

.buttonDiv {
    width: 100%;
    height: auto;
    /*border: solid 3px black;*/
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.shopAllText-Bottom {
    width: 160px;
    height: 44px;
    border: solid 3px #EF6136;
    background-color: white;
    color: #EF6136;
    font-family: fontThree;
    text-transform: uppercase;
    font-size: 18px;
    transition: .7s;
    cursor: pointer;
}

.buttonDiv button:hover {
    background-color: #EF6136;
    color: white;
}


.divTwo {
    width: 650px;
    min-height: 600px;
    /*border: solid 3px black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.div{
    width: 650px;
    min-height: 500px;
    /*border: solid 3px black;*/
    padding: 50px 40px 50px 40px;
    border-radius: 20px;
    background: #f2f2f2;
}


footer {
    width: 100%;
    height: 350px;
    border: solid 3px black;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: fontFour;
}

.menuFooter {
    width: 190px;
    height: 270px;
    /* border: solid 3px white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuFooter ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menuFooter ul li a {
    font-size: 20px;
    color: #C2C2C2;
}

.subscribeDiv {
    width: 340px;
    height: 270px;
    padding: 40px;
    display: flex;
    flex-direction: column;

}

.subscribeDiv div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 12px;
}

.subscribeDiv p {
    font-size: 22px;
    color: white;
    text-align: center;
    margin-top: 17px;
}

.subscribeDiv input {
    width: 250px;
    height: 40px;
    border: solid 2px white;
    background-color: black;
}

.subscribeDiv input:hover {
    border: solid 5px white;
}

.subscribeDiv button {
    width: 250px;
    height: 40px;
    border: none;
    background-color: #EF6136;
    font-size: 17px;
    color: white;
}